<div class="well">
<%= required_notice_tag %>
<%= form_for @sample, html: {class: "bs-example"} do |f| %>
<fieldset>
<!--
  <div class="form-group">
    <%= f.label :id, class: "control-label" %>
    <div class="">
      <%= h @sample.id %>
    </div>
  </div>
-->
  <div class="form-group">
    <%= f.label :name, class: "control-label required" %>
    <div class="">
      <%= f.text_field :name, class: "form-control" unless show? %>
      <%= h @sample.name if show? %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kana, class: "control-label" %>
    <div class="">
      <%= f.text_field :kana, class: "form-control" unless show? %>
      <%= h @sample.kana if show? %>
    </div>
  </div>

  <div class="form-actions">
<%= submit_button_tag %>
<%= index_button_tag %>
<%= delete_button_tag @sample if show? %>
  </div>
</fieldset>
<% end %>
</div>
