<%= pagetitle title: "ログイン" %>
<%= flash_tag %>

<div class="well">
<%= form_tag do %>
<fieldset>
  <div class="form-group">
    <%= label_tag :id, "ログイン名", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= text_field_tag :id, params[:id] %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :password, "パスワード", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= password_field_tag :password, params[:password] %>
    </div>
  </div>

  <div class="form-actions col-lg-10 col-lg-offset-2">
    <%= button_tag("ログイン", class: "btn btn-primary", type: :submit) %>
  </div>
</fieldset>
<% end %>
</div>
