<%= pagetitle title: "パスワード変更" %>
<%= flash_tag %>

<div class="well">
<%= form_for(@app_user, html: {class: "bs-example"}, url: {controller: :auth, action: :change }) do |f| %>

<fieldset>
	<%= f.hidden_field :id %>
  <div class="form-group">
    <%= f.label :account, class: "control-label" %>
    <div class="">
    	<%=h @app_user.account %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_required, class: "control-label required" %>
    <div class="">
		  <%= f.password_field :password_required %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_new, class: "control-label required" %>
    <div class="">
		  <%= f.password_field :password %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label required" %>
    <div>
		  <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="form-actions">
    <%= button_tag("変更", class: "btn btn-primary", type: :submit) %>
  </div>
</fieldset>
<% end %>
</div>

